<?xml version="1.0"?>
<ruleset name="UserSpotlightProCodingStandard">
    <description>User Spotlight Pro coding standard.</description>

    <file>./src</file>
    <file>./tests</file>

    <arg value="sp"/>
    <arg name="colors"/>

    <config name="testVersion" value="8.0-"/>
    <config name="text_domain" value="user-spotlight-pro"/>
    
    <rule ref="Inpsyde">
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize" />
    </rule>
    
    <rule ref="Inpsyde.CodeQuality.ElementNameMinimalLength">
        <properties>
            <property name="additionalAllowedNames" type="array" value="c,me,my" />
        </properties>
    </rule>

</ruleset>
